@import '/index.scss';

header {
  @extend %glassEffect;
  padding-block: 15px;
  border-bottom: $br-c;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      z-index: 3;

      img {
        width: 60px;
      }
    }

    .links {
      display: flex;
      gap: 30px;

      a {
        font-family: 'Changa One', sans-serif;
        margin-bottom: 5px;
        @include link($white, $white-h, $white-a, 27px);
        letter-spacing: 0.5px;

        span {
          display: inline-block;
          transition: transform 0.4s, opacity 0.4s;
        }
      }
    }

    .links {
      display: flex;
      gap: 40px;

      a {
        @extend %link;
        font-family: 'Changa One', sans-serif;
        margin-bottom: 5px;
        letter-spacing: 0.5px;
        color: $white;

        span {
          mix-blend-mode: difference;
        }

        &:hover {
          span {
            transform: scale(2);
          }
        }

        &:active {
          span {
            transform: scale(1.5);
          }
        }
      }
    }

    .icons {
      display: flex;
      gap: 20px;

      svg {
        width: 25px;
        height: 25px;
        cursor: pointer;
        color: $gray;
        transition: $tr-btn;

        &:hover {
          color: $gray-h;
          transform: scale(1.1);
        }

        &:active {
          color: $gray-a;
          transform: scale(1);
        }

        @media (max-width: 1000px) {
          &:hover {
            color: $gray;
            transform: scale(1);
          }

          &:active {
            color: $gray;
          }
        }
      }
    }

    .menu {
      display: none;

      @media (max-width: 1000px) {
        & {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  header {
    .content {
      .links {
        display: none;
      }

      .icons {
        display: none;
      }
    }
  }
}
