@import '/index.scss';

.content {
  padding-top: 150px;
  margin-bottom: 100px;

  .titlePage {
    @include titlePage(clamp(2.5rem, -0.682rem + 15.91vw, 11.25rem));
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;

    .card {
      @extend %card;
      width: clamp(16.25rem, 15.114rem + 5.68vw, 19.375rem);
    }
  }
}
