@font-face {
  font-family: 'Freedom Standing';
  src: url('/fonts/FreedomStanding/Freedom-Standing-Demo-BF664ef022cd5f9.otf')
      format('opentype'),
    url('/fonts/FreedomStanding/Freedom-Standing-Demo-BF664ef023634c8.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Changa One
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');
// font-family: 'Changa One', sans-serif;

// Smooch
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
// font-family: 'Smooch', cursive;
