$tr-btn: 0.4s;
$br-r: 4px;
$b-sh: 0 4px 30px rgba(0, 0, 0, 0.2);
$black: #000000;

$white: #f4f4f4;
$white-h: #e7e7e7;
$white-a: #dfdfdf;

$gray: #9a9a9a;
$gray-h: #929292;
$gray-a: #8a8a8a;

$br-c: 1.5px solid $gray;
