@import '/index.scss';

.content {
  padding-top: 150px;
  background-image: url(/images/bg/main.png);
  background-size: cover;

  .error {
    @include titlePage(clamp(1.875rem, 0.625rem + 6.25vw, 5.313rem));
    padding-inline: 25px;
  }
}
